@import "tailwindcss";
.input {
  @apply w-full px-4 py-2 border rounded-lg outline-none focus:ring-2 focus:ring-indigo-500;
}

.btn-primary {
  @apply w-full bg-indigo-600 hover:bg-indigo-700 text-black py-2 rounded-lg transition;
}

.btn-secondary {
  @apply w-full bg-yellow-500 hover:bg-gray-300 py-2 rounded-lg transition;
}
